body {
    position: relative;
    background-color: #821b14;
    .container {
        position: relative;
        z-index: 5;
    }
}

.special-text {
    font-size: 1.1rem;
    line-height: 1.8;
    color: white;
    @include media-breakpoint-up(md) {
        font-size: 1.3rem;
    }
}
