// Body
$body-bg: white;


// Typography
$font-family-sans-serif: 'Aquifer', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Bootstrap css variables
// .card {
//     --bs-card-bg: white !important;
// }

// .table {
//     --bs-table-bg: white !important;
// }