.page-artistes {
    position: static;
    // background-color: #fff;

    // .special-text {
    //     color: #212529;
    // }

    footer {
        position: static;

        .social-media i {
            color: #212529;
        }
    }
}

.bandeau {
    min-height: 50vh;
    max-height: 70vh;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
        0 4px 6px -4px rgba(0, 0, 0, 0.1);

}

@media (max-width: 768px) {
    .bandeau {
        min-height: auto;
        height: auto;

    }
}