.page-artistes {
    position: static;
    // background-color: #fff;

    // .special-text {
    //     color: #212529;
    // }

    footer {
        position: static;
    }
}

.bandeau {
    color: white;
    min-height: 50vh;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
        0 4px 6px -4px rgba(0, 0, 0, 0.1);
    p {
        font-size: 1.3rem;
    }
    h3, p {
        color: white !important;
    }
    p a {
            //liens hypertexte en gras uniquement
        font-weight: bold;
        text-decoration: none; 
        color: inherit;           

        &:hover {
            text-decoration: underline;
            color: #ddd;
        }
    }
}

@media (max-width: 768px) {
    .bandeau {
        min-height: 80vh;
        height: auto;
        p {
            font-size: 1.1rem;
        }
    }
}