#header {
    background-color: #821b14 !important;
    position: sticky;
    top: 0;
    z-index: 10;

    .navbar-brand img {
        height: 40px; 
        width: auto;
    }
}

.navbar-nav {
    display: flex;
    justify-content: center;
    width: 100%;
}

.nav-item {
    margin: 0 10px;
}

.nav-link {
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1rem;

    &:hover {
        color: black;
        transition: background-color 0.3s ease, color 0.3s ease;
    }
}

@media (max-width: 991px) {
    .navbar-collapse {
        text-align: center;
        padding: 10px 0;
    }

    .nav-item {
        margin: 10px 0;
    }
}
