.home-page {
    position: static;
    overflow-x: hidden;
    margin: 0;

    #header {
        position: fixed;
        top: 0;
        width: 100%;
        color: white;
        padding: 1rem;
        text-align: center;
        opacity: 0;
        transition: opacity 0.5s;
    }

    footer {
        position: static;
        z-index: 2;

        .social-media i {
            color: #fff;
        }
    }
}

/**
 *  PARALLAX
 */
.postparallaxe {
    padding-top: 190vh;
}

.parallaxe-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 110vh;
    overflow: hidden;
}

.fond-parallaxe{
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh; 
    background-color: #821b14;
    z-index: 1;
}

.titre-parallaxe {
    position: absolute;
    top: 3vh;
    left: 0;
    width: 100%;
    height: 35vh;
    background-image: url('/public/images/TERREURS-NOCTURNES.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 3;
    transition: opacity 0.5s, transform 0.5s;
}

.parallaxe-asset1,
.parallaxe-asset2,
.parallaxe-asset3,
.parallaxe-asset4 {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    filter: brightness(0);
}

.parallaxe-asset1 {
    top: 8vh;
    z-index: 2;
    background-image: url('/public/images/forêt-1_.png');
}

.parallaxe-asset2 {
    top: 59px;
    z-index: 3;
    background-image: url('/public/images/forêt-fond.png');
}

.parallaxe-asset3 {
    top: 71vh;
    z-index: 4;
    background-image: url('/public/images/ramifications.png');
}

.parallaxe-asset4 {
    bottom: -10vh;
    z-index: 5;
    background-image: url('/public/images/Calque-8-copie.png');
}

.parallax-container {
    position: relative;
    overflow: hidden;
}

.parallax-image {
    height: 80vh;
    background-image: url('/public/images/alone-site.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
}

.parallax-image-2 {
    background-image: url('/public/images/illustration-celestin-1.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: auto;
    height: 80vh;
}

.parallax-image-3 {
    background-image: url('/public/images/illustration-celestin-2.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: auto;
    height: 80vh;
}
