@tailwind base;
@tailwind components;
@tailwind utilities;


.image-container {
    position: relative;
    display: inline-block;
    margin: 10px;
}

.delete-image-btn {
    position: absolute;
    top: 5px;
    left: 5px;
    background: red;
    color: white;
    border: none;
    font-size: 18px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.8;
}

.delete-image-btn:hover {
    opacity: 1;
}

#header {
    background-color: #fff;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 3px 2px -2px gray; 
}

#header .navbar-brand img {
    height: 40px; 
    width: auto ;
}

#menu-items {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

.nav-item {
    margin: 0 10px;
}

.nav-link {
    color: #000;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1rem;
}

@media (max-width: 991px) {
    #menu-items {
        display: none; 
        width: 100%;
        text-align: center;
        background-color: #fff;
        position: absolute;
        top: 60px;
        left: 0;
        padding: 10px 0;
        z-index: 1;
    }

    .nav-item {
        margin: 10px 0;
    }

    #menu-toggle {
        display: block;
    }
}

footer {
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
}

footer a {
    font-size: 20px;
    text-decoration: none;
    color: #5f5f5f;
}

footer .social-media {
    display: flex;
    align-items: center;
}

footer .social-media i {
    margin-right: 15px;
    padding: 5px;
    text-align: center;
    color: #5f5f5f;
}

footer .social-media i:hover {
    transform: scale(1.1);
    transition: 0.3s ease-in-out;
}

.parallax-container {
    position: relative;
    overflow: hidden;
}

.parallax-image {
    height: 60vh;
    background-image: url('/public/images/Archive-3-2.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
}

.container {
    position: relative;
    z-index: 1; 
}

.btn:hover {
    color: #fff;
    background-color: #555; 
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); 
    transform: scale(0.99); 
}

.bandeau {
    height: 50vh;
    box-shadow:  0 10px 15px -3px rgba(0, 0, 0, 0.1), 
    0 4px 6px -4px rgba(0, 0, 0, 0.1);
}

.bandeau .col-md-6 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
}

.slide
.carousel-item
.carousel-inner{
    height: 100%;
    display: flex;
    align-items: center;
}

