@tailwind base;
@tailwind components;
@tailwind utilities;


.image-container {
    position: relative;
    display: inline-block;
    margin: 10px;
}

.delete-image-btn {
    position: absolute;
    top: 5px;
    left: 5px;
    background: red;
    color: white;
    border: none;
    font-size: 18px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.8;
}

.delete-image-btn:hover {
    opacity: 1;
}

#header {
    background-color: #fff;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 3px 2px -2px gray; 
}

#header .navbar-brand img {
    height: 40px; 
    width: auto ;
}

footer {
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
}

footer a {
    font-size: 20px;
    text-decoration: none;
    color: #5f5f5f;
}

footer .social-media {
    display: flex;
    align-items: center;
}

footer .social-media i {
    margin-right: 15px;
    padding: 5px;
    text-align: center;
    color: #5f5f5f;
}

footer .social-media i:hover {
    transform: scale(1.1);
    transition: 0.3s ease-in-out;
}

/* Container de l'image avec effet parallaxe */
.parallax-container {
    position: relative;
    overflow: hidden;
}

.parallax-image {
    height: 60vh; /* Ajuste la hauteur de l'image */
    background-image: url('/public/images/Archive-3-2.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed; /* L'effet de parallaxe */
    width: 100%;
}

/* Ajouter un peu d'espace pour que le contenu ne chevauche pas l'image */
.container {
    position: relative;
    z-index: 1; /* Le texte doit être au-dessus de l'image */
    margin-top: 70px; /* Ajuste si besoin */
}